@import
	url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@font-face {
	font-family: "navFont";
	src: url(../font/navFont.otf);
}

@font-face {
	font-family: "desFont";
	src: url(../font/法一E山石水墨繁.ttf);
}

@font-face {
	font-family: "persFont";
	src: url(../font/李旭科书法1.4.ttf);
}

.holder {
	position: absolute;
	background: url(wallhaven-198691.jpg) 0 0 #e6d6d657 no-repeat;
	background-position:center;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}

.new-word {
	font-family: persFont;
	color: #333333;
	font-size: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}


.word {
	position: relative;
	left: 50%;
	display: table;
	font-size: 6em;
	transform: translateX(-50%);
}

.word2 {
	transform: translateX(-50%) rotateX(180deg);
	opacity: 0.2;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* center the SVG in the page */
svg {
  position: absolute;
  left: 25%;
  top: 25%;
  transform: translate(-60%, -10%);
}
/* transition for all path elements */
svg g path {
  transition: all 1s linear;
}
svg g path.fix {
  transition: none;
  transform: rotate(0);
}
/* transition for the path elements representing the seconds ticks
as to 'maintain' so to speak an impression of the current tick, increase the duration of the transition */
svg g.seconds path {
  opacity: 0.2;
  transition: 10s linear all;
}
svg g.seconds path.current {
  opacity: 1;
  stroke-width: 3px;
  transition: 1s linear all;
}

.letter {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
	opacity: 0;
}

.controls {
	margin-top: 30px;
}

.control {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 0.8em;
	border-left: 1px solid #333333;
	opacity: 0;
	position: relative;
	top: 100px;
}

.control:first-child {
	border-left: none;
}

.triangles {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #333333;
	position: absolute;
	opacity: 0;
}

.translation {
	font-size: 35px;
}